body {
	font-family: 'Arial Rounded MT Bold', sans-serif;
	font-size: 17px;
	color: white;
	text-align: center;
	font-style: italic;
	background: url('https://image.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg') center center/cover no-repeat;
}

.block {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	min-height: auto;
	box-shadow: rgba(0, 0, 0, 0.75) 0 5px 15px;
	margin-top: 70px;
	border-radius: 5px;
	padding: 20px;
	width: 350px;
	text-align: left;
	background-color: darkcyan;
}

.display {
	height: 20px;
	font-size: 20px;
	margin-bottom: 30px;
}

button {
	height: 30px;
	border: 1px solid black;
	border-radius: 4px;
	margin-top: 10px;
}

button:hover {
	background: yellow;
	color: black;
}

button:disabled {
	background-color: #48a9a9;
	color: #408f8d;
	border-color: #408f8d;
}

button:disabled:hover {
	background-color: #48a9a9;
	color: #408f8d;
	border-color: #408f8d;
}

.success {
	color: yellow;
}


